body {
    font-family: Arial, sans-serif;
    background-color:rgb(149, 149, 149);
  }

  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px chocolate;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }